[[extend 'layout.html']]
[[block page_head]]
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""/>
<link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css"/>
<style>
  .map { height: calc(100vh - 168px - 56px); width: 100%; }
</style>
[[end]]
<div id="vue">
    <side_menu></side_menu>
</div>
[[block page_scripts]]
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script>
<script src="https://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
<script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="js/utils.js"></script>
<script src="components/maps.js"></script>
<script src="components/side_menu.js"></script>
[[end]]
